@use "/src/styles/vars.module.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    flex-direction: column;

    .banner {
        img {
            max-width: 80%;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .form {
        padding-block: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(vars.$primary, 0.15);
        width: 400px;
        max-width: 80%;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.616);

        .input {
            width: 80%;
            margin: 0.8rem;
            height: 1.8rem;
            border-radius: 5px;

        }

        .error {
            color: vars.$error;
            font-weight: bold;
        }

        .file {
            margin-block: 0.5rem;
        }

        button {
            font-size: 1rem;
            margin: 0.5rem;
            padding: 1rem;
            width: auto;
            height: 2rem;
            border-radius: 10px;
            background-color: vars.$purp;
            color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: transparent;
            border: none;

            &:hover {
                opacity: 0.9;
                text-shadow: 2px 2px black;
                transition: all ease-in-out 200ms;
                transform: scale(0.98);
                cursor: pointer;
            }
        }

        a {
            color: vars.$primary;
        }
    }
}