body {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  padding-block: 1.5rem;
  width: 95%;
  margin: 1rem;
}
