@use "./vars.module.scss";

body {
  margin: 0;
  padding: 0;
  background-color: vars.$blackish;
  color: vars.$blackish;
  max-width: 100%;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.currentUser {
  &>* {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  b {
    padding-inline: 5px;
    font-size: 1.3rem;
  }
}

.logout {
  background-color: none;
}

/* HamburgerMenu.css */

.hamburger-menu {
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 10px;
}

.menu-button {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
}

.open .bar:first-child {
  transform: translateY(8px) rotate(55deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:last-child {
  transform: translateY(-8px) rotate(-55deg);
}

.menu-items {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-inline-end: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;

  &>* {
    padding-block: 5px;
  }
}

.open.menu-items {
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;

}