@use "./vars.module.scss";

body {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  height: 2rem;
  border-radius: 5px;
  outline: transparent;
  border: none;
}

.header {
  width: 100%;
  height: 60px;
  background-color: vars.$primary;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    margin-inline-start: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0.5rem;
      padding: 0.2rem;
      width: 5rem;
      height: 2rem;
      border-radius: 5px;
      background-color: whitesmoke;
      color: vars.$blackish;
      display: flex;
      align-items: center;
      justify-content: center;

      &>*{
        padding-inline: 1px;
      }
    }
  }

  .currentUser {
    display: flex;
    align-items: center;
    margin-inline-end: 2rem;
  }
}