@use "../../styles/vars.module.scss";

.container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
  gap: 10px;
  padding: 20px 0;
  margin: 10px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;

  .photo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(211, 211, 211, 0.337);
    font-family: Arial, Helvetica, sans-serif;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 150ms;
  
    &:hover {
      box-shadow: rgba(252, 252, 252, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
      transform: scale(0.95);
      border: 5px inset transparent;
      border-radius: 20px;
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(
          45deg,
          #ff52e5,
          #f6d242
        ) border-box;
    }
  
    .description {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;   
      width: 100%;
      height: 100%;
      background: rgba(245, 245, 245, 0.212);
      color: vars.$blackish;
  
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .footer {
      height: 2rem;
      width: 100%;
      border-top: 1px solid rgba(211, 211, 211, 0.386);
      display: flex;
      align-items: center;
      background-color: vars.$primary;
      color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  
      label {
        float: right;
      }
  
      p {
        padding-left: 15px;
      }
  
      .unlike
      {
        opacity: 0.65;
      }
  
      .title {
        font-size: 0.8rem;
        padding-inline: 1rem;
      }
  
      .creator {
        font-size: 0.5rem;
        padding-inline: 1rem;
      }
    }
  }
}
